body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

.title {
    display: grid;
    padding: 20px 0;
    text-align: center;
    text-shadow: 2px 2px 5px #3605fa;
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100px;
}

.box-1 {
    background: linear-gradient(-225deg, #e507de, #3605fa 80%);
    border: 1px solid black;
}

.box-2 {
    background: #3605fa;
    border: 1px dashed black;
}

.box-3 {
    background: linear-gradient(45deg, #3605fa 40%, #e507de);
    border: 1px solid black;
}

.btn-warning {
    font-size: 100%;
}

.btn-success {
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 100%;
}

.modal {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    display: block;
}

.popup {
    display: none;
}
  
.modal-body {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 30px;
  width: min(400px, 80vw);
  background-image: linear-gradient(-225deg, #e507de, #3605fa 100%);
  border-radius: 10px;
}
  
.modal-buttons {
  width: 100%;
  color: white;
}

/* .close {
  display: none;
} */


@media (max-width: 700px) {
    .box {
        grid-template-columns: none;
    }
    
    .box,
    .btn {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}



